body {
  background: #F9FAFB;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14pt;
  font-weight: 300;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.head {
  background: #fff;
  padding: 12px 0;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  z-index: 999;
  margin-bottom: 48px;
}

h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 32pt;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 18px;
}

.head__logo {
  font-size: 20pt;
  font-weight: bold;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  margin-bottom: 24px;
  line-height: 18pt;
}

.card__header {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 12px;
}

.card__header-link {
  text-decoration: none;
  color: #000;
}

.card__counter {
  text-align: right;
  color: #10C971;
}

.card__bottom {
  color: #A0A4B0;
  font-size: 12pt;
  margin-top:12px;
}

.card__geo {
  /* flex: content;
  align-items: center; */
  font-size: 12pt;
  font-weight: 300;
  color: #613EEA;
}

.card_geo .ymaps-geolink {
  color: #613EEA !important;
}

.card__thumbnail img {
  max-width: 100%;
  width: 100%;
  border-radius: 6px;
}

/* .card__geo a, .card__geo a:visited {
  color: #613EEA;
  font-size: 12pt;
  font-weight: 300;
  display: inline-flex;
  text-decoration: none;
}

.card__geo a:hover {
  color: #613EEA;
  text-decoration: underline;
} */



/* ICONS */

.icon__like {
  background: url(icons/thumb-up-line.svg) no-repeat;
  display: inline-flex;
  width: 20px;
  height: 20px;
  fill: #10C971;
}

.icon__geo {
  background: url(icons/map-pin-line.svg) no-repeat;
  display: inline-flex;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}





.page {
  background: #fff;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  margin-bottom: 24px;
  line-height: 18pt;
}

.card__geo {
  flex: content;
  align-items: center;
}

.card__geo a, .card__geo a:visited {
  color: #613EEA;
  font-size: 14pt;
  font-weight: 300;
  display: inline-flex;
  text-decoration: none;
}

.card__geo a:hover {
  color: #613EEA;
  text-decoration: underline;
}

.page__header {
  margin-bottom: 24px;
}

.page__bottom {
  color: #A0A4B0;
  font-size: 12pt;
  margin-top:12px;
}

.page__slider {
  margin-bottom: 24px;
}

.page__counter {
  text-align: right;
  color: #10C971;
  font-size: 24pt;
}