body {
  background: #F9FAFB;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14pt;
  font-weight: 300;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.head {
  background: #fff;
  padding: 12px 0;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  z-index: 999;
  margin-bottom: 48px;
}

h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 32pt;
  font-weight: bold;
}

.head__logo {
  font-size: 20pt;
  font-weight: bold;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  margin-bottom: 24px;
  line-height: 18pt;
}

.card__header {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 12px;
}

.card__counter {
  text-align: right;
  color: #10C971;
}

.card__bottom {
  color: #A0A4B0;
  font-size: 12pt;
  margin-top:12px;
}

.card__geo {
  flex: content;
  align-items: center;
}

.card__geo a, .card__geo a:visited {
  color: #613EEA;
  font-size: 12pt;
  font-weight: 300;
  display: inline-flex;
  text-decoration: none;
}

.card__geo a:hover {
  color: #613EEA;
  text-decoration: underline;
}



/* ICONS */

.icon__like {
  background: url(icons/thumb-up-line.svg) no-repeat;
  display: inline-flex;
  width: 20px;
  height: 20px;
  fill: #10C971;
}

.icon__geo {
  background: url(icons/map-pin-line.svg) no-repeat;
  display: inline-flex;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}