<!doctype html>
<title>Gatchina</title>
<link rel="stylesheet" href="./static/reset.css">
<link rel="stylesheet" href="./static/flexboxgrid.min.css">
<link rel="stylesheet" href="./static/style.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:300,400,900&display=swap" rel="stylesheet">
<nav class="head">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head__logo">Gatchina</div>
      </div>
    </div>
  </div>
</nav>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- начало карточки -->
        <section class="card">
          <header class="card__header">
            <div class="row">
              <div class="col-xs-9">
                <h6>
                  <!-- сюда заголовок -->
                  Тротуар после ремонта труб
                </h6>
              </div>
              <div class="col-xs-3 card__counter">
                <h6>
                  <i class="icon icon__like"></i>
                  3000 <!--  сюда количество голосов -->
                  </h6>
              </div>
              <div class="col-xs-12">
                <div class="card__geo">
                    <i class="icon icon__geo"></i>
                    <a href="">ул. Советов, д. 15</a>
                </div>
              </div>
            </div>
          </header>
          <div class="card__body">
            <!-- сюда описание -->
              Здравствуйте! После ремонта трубы холодного водоснабжения в январе 2019г. тротуар не 
              был приведён в надлежащий вид. Ходить по пешеходной дорожке небезопасно. 

              Просим Вас организовать восстановление пешеходной дорожки вдоль дома 7 
              по улице Крупской (нечетная сторона улицы Константинова).

              Так же просим Вас уточнить, планируется ли мощение пешеходных дорожек вдоль 
              нечетной стороны улицы Константинова?
          </div>
          <div class="card__bottom">
            <span class="card__author">Ольга Тихомирова</span>,
            <span class="card__date">25 мая 2019</span>
          </div>
        </section>
        <!-- конец карточки-->
      </div>
    </div>  
  </div>
</section>